root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# ----- Markdown 문서 -----
[*.md]
trim_trailing_whitespace = false  # Markdown은 공백이 의미가 있음
